@import url("https://fonts.googleapis.com/css?family=Lato");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

h1 {
  margin: 20px;
  text-align: center;
  font-size: 34px;
}

.settings-message {
  font-size: 20px;
  text-align: center;
}

.settings-message--error {
  color: #923;
}

.settings-message--success {
  color: #293;
}

.hidden {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 900px;
  width: 100%;
  margin: auto;
  padding: 20px;
}

form>*:not(:first-of-type) {
  margin-top: 20px;
}

@media (min-width: 750px) {
  form {
    flex-direction: row;
  }

  form>* {
    flex-grow: 0;
    flex-shrink: 0;
  }

  form .input__container {
    padding: 0 50px;
    flex-basis: calc(100% - 200px);
  }

  form .profile-pic__container {
    flex-basis: 200px;
  }
}

.profile-pic__container,
.profile-pic__foreground {
  line-height: 200px;
  text-align: center;
}

.profile-pic__container {
  overflow: hidden;
  position: relative;
  border: 3px solid #333;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
}

/*.profile-pic__foreground {
  position: absolute;
  top: 0;
  width: 200px;
  height: 200px;
  color: transparent;
  cursor: pointer;
  transition: color .2s, background-color .2s;
}
.profile-pic__foreground:hover {
  color: #fff;
  background-color: rgba(20, 20, 20, 0.85);
}

.input__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.input__container > * {
  margin-bottom: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 100%;
}
@media (min-width: 750px) {
  .input__container > * {
    flex-basis: 49%;
  }
}
.input__container > * input {
  width: 100%;
}

.input-action {
  display: block;
  text-align: right;
  font-size: 12px;
  font-color: #777;
  cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 5px 8px;
}

input[type="submit"] {
  border: 2px solid #333;
  border-radius: 3px;
  padding: 7px 15px;
  -webkit-appearance: none;
  background-color: #FFF;
  color: #333;
  transition: color .2s, background-color .2s;
}
input[type="submit"]:hover, input[type="submit"]:focus {
  background-color: #333;
  color: #EEE;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
